<!-- about page main content -->
<div>
    <div class="title-main">About Me</div>
    <div class="title-one">Welcome To My Site</div>
    <div class="title-tow">How Am I</div>
    <div class="text-one">
        <img src="/Assets/images/profile_image.jpg" alt="" class="image-main rounded">
        I am Mohammad Aljelmawi. I became a Canadian resident in 2016 and was granted my Canadian citizenship in 2023. I have some knowledge of C#, HTML, Python, JavaScript, Java, CSS, Node.js, MS SQL, Oracle SQL, and Kotlin.
    </div>
</div>