<!-- home page main content -->
<div >
    <div class="title-main">Home Page</div>
    <div class="title-one">Welcome To My Site</div>
    <div class="title-tow">Mission Statement</div>
    <div class="text-one">
        I am studying computer software as a part of my career as a software developer, and my mission starts here. Welcome to my site,
Feel free to browse through the site and learn a little more <a href="/about"> about me</a>.
    </div>
</div>