<!-- projects page main content -->
<div>
    <div class="title-main">Projects</div>
    <div class="title-one">_</div>
    <div class="title-tow">Mission Statement</div>

    <img src="/Assets/images/proj-1.jpg" alt="" class="image-main rounded">
    <div class="text-one"> Satalite Internet self-driving cars </div>

    <img src="/Assets/images/proj-2.jpg" alt="" class="image-main rounded">
    <div class="text-one"> Online cross-border shopping service </div>

    <img src="/Assets/images/proj-3.jpg" alt="" class="image-main rounded">
    <div class="text-one">Satellite bird eye live worldview service</div>
</div>