<!-- services page main content -->
<div>
    <div class="title-main">Services</div>
    <div class="title-one">_</div>
    <div class="title-tow"></div>

    <img src="/Assets/images/serv-1.jpg" alt="" class="image-main rounded">
    <div class="text-one">GUI design service</div>

    <img src="/Assets/images/serv-2.jpg" alt="" class="image-main rounded">
    <div class="text-one">Robotic programing</div>

</div>